/* Geral -----------------------------------------------------------------------------*/
html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}
img{
    width: 150px;
    border-radius: 30%;   
 }
li{
   list-style: none;
}
li a{
    text-decoration: none;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}
input{
    border-radius: 20px;
    height: 30px;
    width: 300px;
}
textarea{
    border-radius: 2px;
    height: 50px;
    width: 300px;
}
 /* HEARDER ----------------------------------------------------------------------------*/
.wrapper {
    height: 100vh;
    width: 1200px;
    display: flex;
    margin: 0 auto;
}
.main {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.header {
    background-color: rgb(5, 108, 108);
    min-height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main .header, .header__sobre, .header__horarios{
    background-size: cover;
    background-repeat: no-repeat;
}
.main .header{
    background-image: url(./img/banner.png);
}
.main .header__sobre{
    background-image: url(./img/banner-sobre.png);
}
.main .header__horarios{
    background-image: url(./img/banner-horario.png);
}
.main .header__contato{
    background-image: url(./img/banner-contato.png);
}
.m-header__name,.m-content__postagem h1{
    font-size: 4em;
    font-family: Arial black;
    color: transparent;
    -webkit-text-stroke: 2px rgb(104, 104, 104);
}
.active { 
    text-shadow: 0px 0px 2px rgb(94, 94, 6); 
}
    

/* BODY MENU -------------------------------------------------------------------*/
.content .menu a img{
    margin: 40px 33px 0px 33px;
    box-shadow: 5px 10px 10px black;
}
.menu {
    overflow: hidden;
    height: 100%;
    width: 20%;
    background-color: rgb(230, 229, 229);
    padding: 10px 20px 0px;
    border-radius: 10px;
    display: grid;
    justify-content: space-around;
}
.content {
    display: flex;
    height: 100%;
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
ul li a.c-menu__link{
    font-size: 1.8em;
    color: rgb(46, 43, 115);
    font-family: monospace;
}
ul li{
    padding: 15px;
}

/* BODY POSTAGEM ----------------------------------------------------------------*/
.m-content__postagem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 5%;
}
.m-content__postagem p:nth-child(2){
    font-family: monospace;
    font-size: 20px;
}
/* BODY POSTAGEM HORARIOS ----------------------------------------------------------------------*/
.m-content__postagem__table{
    border: 1px solid grey;
    width: 100%;
    height: 15%;
    padding: 10px;
    border-radius: 10px;
}
.content__postagem__table td{
    padding: 10px;
}
thead{
    background-color: grey;
    color: white;
}

/* BODY POSTAGEM CONTATO ----------------------------------------------------------------------*/
.m-content__postagem__form{
    display: contents;
}
.m-content__postagem__form label, input, button,textarea{
    margin: 2px;
}
.m-content__postagem__form__btn{
    display: flex;
}
.m-content__postagem__form__btn button{
    margin: 0 10px;
    border-radius: 5px;
    width:80px;
    height: 30px;
}
/* FOOTER ----------------------------------------------------------------------*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(46, 43, 115);
    min-height: 50px;
}
.footer span{
    color: white;
}